{% extends 'base.html' %}
  
<head> 
  <meta charset="utf-8"> 
  <title>chartsjs</title> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head> 

{% block content %}

<!-- book Charts -->
 <div>
{% if book_count %}
  <div id="container text-center">
    <div class="row">
      <div class="col">
        <p class="text-center">Number of Books Read</p>
        <p class="text-center">{{ book_count }}</p>
      </div>
      <div class="col">
        <p class="text-center">Average Book Rating</p>
        <p class="text-center">{{ book_rating }} ★</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div id="container" style="width: 100%;">
          <canvas id="books_charts" data-url="{% url 'charts:books_charts' %}"></canvas>
        </div>
      </div>
      <div class="col">
        <div id="container" style="width: 100%;">
          <canvas id="books_ratings" data-url="{% url 'charts:books_ratings' %}"></canvas>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col">
        <div id="container" style="width: 100%;">
          <canvas id="books_authors" data-url="{% url 'charts:books_authors' %}"></canvas>
        </div>
      </div>
      <div class="col">
        <div id="container" style="width: 100%;">
          <canvas id="books_release" data-url="{% url 'charts:books_release' %}"></canvas>
        </div>
      </div>
    </div>
    
  </div>

 </div>
 {% else %}
 <p>Please complete and rate a book first before viewing your statistics.</p>
 {% endif %}

{% endblock content %}

  
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  const ctx = document.getElementById('books_charts');
  $(function () {
    var $books_charts = $("#books_charts");

    console.log("Canvas found:", $books_charts[0]);
    
    $.ajax({
        url: $books_charts.data("url"),
        success: function (data) {
          console.log('AJAX data:', data);  // Debug: Check if data is correct

          // Check if data exists and is in the expected format
          if (data && Array.isArray(data.genre) && Array.isArray(data.book)) {
            var ctx = $books_charts[0].getContext("2d");

            // Log to ensure that the context is set up correctly
            console.log('Canvas context:', ctx);
            console.log('Canvas element:', $books_charts[0]);

            // Initialize the chart
            new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                labels: data.genre,
                datasets: [{
                  axis: 'y',
                  label: 'Books',
                  backgroundColor: 'blue',
                  data: data.book
                }]
              },
              options: {
                indexAxis: 'y',
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Top 10 Book Genres'
                },
                scales: {
                  xAxes: [{
                      ticks: {
                          beginAtZero: true,
                          precision: 0
                      }
                  }]
                }
              }
            });

          } else {
            console.error('Invalid data format:', data);
          }
        },
        error: function (err) {
          console.error("Error fetching data", err);
        }
      });
    });

    // ratings chart
    const ratings = document.getElementById('books_ratings');
    $(function () {
    var $books_ratings = $("#books_ratings");

    console.log("Canvas found:", $books_ratings[0]);
    
    $.ajax({
        url: $books_ratings.data("url"),
        success: function (data) {
          console.log('AJAX data:', data);  // Debug: Check if data is correct

          // Check if data exists and is in the expected format
          if (data && Array.isArray(data.rating) && Array.isArray(data.book)) {
            var rating = $books_ratings[0].getContext("2d");

            // Log to ensure that the context is set up correctly
            console.log('Canvas context:', rating);
            console.log('Canvas element:', $books_ratings[0]);

            // Initialize the chart
            new Chart(rating, {
              type: 'bar',
              data: {
                labels: data.rating,
                datasets: [{
                  label: 'Books',
                  backgroundColor: 'blue',
                  data: data.book
                }]
              },
              options: {
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Book Ratings'
                },
                scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          precision: 0
                      }
                  }]
                }
              }
            });
          } else {
            console.error('Invalid data format:', data);
          }
        },
        error: function (err) {
          console.error("Error fetching data", err);
        }
      });
    });

    // authors chart
    const authors = document.getElementById('books_authors');
    $(function () {
    var $books_authors = $("#books_authors");

    console.log("Canvas found:", $books_authors[0]);
    
    $.ajax({
        url: $books_authors.data("url"),
        success: function (data) {
          console.log('AJAX data:', data);  // Debug: Check if data is correct

          // Check if data exists and is in the expected format
          if (data && Array.isArray(data.author) && Array.isArray(data.book)) {
            var author = $books_authors[0].getContext("2d");

            // Log to ensure that the context is set up correctly
            console.log('Canvas context:', author);
            console.log('Canvas element:', $books_authors[0]);

            // Initialize the chart
            new Chart(author, {
              type: 'bar',
              data: {
                labels: data.authors,
                datasets: [{
                  label: 'books',
                  backgroundColor: 'blue',
                  data: data.book
                }]
              },
              options: {
                indexAxis: 'y',
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Book Authors'
                },
                scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          precision: 0
                      }
                  }]
                },
              }
            });
          } else {
            console.error('Invalid data format:', data);
          }
        },
        error: function (err) {
          console.error("Error fetching data", err);
        }
      });
    });

    // scatter chart for release year
    const release_year = document.getElementById('books_release');
    $(function () {
    var $books_release = $("#books_release");

    console.log("Canvas found:", $books_release[0]);
    
    $.ajax({
        url: $books_release.data("url"),
        success: function (data) {
          console.log('AJAX data:', data);  // Debug: Check if data is correct

          // Check if data exists and is in the expected format
          if (data && Array.isArray(data.release_year) && Array.isArray(data.book)) {
            var release_year = $books_release[0].getContext("2d");

            // Log to ensure that the context is set up correctly
            console.log('Canvas context:', release_year);
            console.log('Canvas element:', $books_release[0]);

            // Initialize the chart
            new Chart(release_year, {
              type: 'bar',
              data: {
                labels: data.release_year,
                datasets: [{
                  label: 'Books',
                  backgroundColor: 'blue',
                  data: data.book
                }]
              },
              options: {
                indexAxis: 'y',
                responsive: true,
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Book Release Years'
                },
                scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          precision: 0
                      }
                  }]
                },
              }
            });
          } else {
            console.error('Invalid data format:', data);
          }
        },
        error: function (err) {
          console.error("Error fetching data", err);
        }
      });
    });
</script>
{% endblock scripts %}
