{% extends 'base.html' %}
  
<head> 
  <meta charset="utf-8"> 
  <title>chartsjs</title> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head> 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p class="text-center">Average Star Rating</p>
      <p class="text-center">{{ rating }} ★</p>
    </div>
    <div class="col-sm">
      <p class="text-center">Average Movie Star Rating</p>
      <p class="text-center">{{ movie_rating }} ★</p>
    </div>
    <div class="col-sm">
      <p class="text-center">Average Book Star Rating</p>
      <p class="text-center">{{ book_rating }} ★</p>
    </div>
    <div class="col-sm">
      <p class="text-center">Average Game Star Rating</p>
      <p class="text-center">{{ game_rating }} ★</p>
    </div>
  </div>
</div>

{% endblock content %}

  
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
  

{% endblock scripts %}